@import '../../../styles/variables';


.Footer{
    color: white;
    padding: var(--sp1);
    display: flex;
    justify-content: space-between;
    background-color: color(b1);
    font-family: Manrope;
    font-weight: 300;

    .links{
        display: flex;

        >ul{
            margin: 0;
            margin-right: 100px;

            >li:first-child{
                font-weight: 600;
                margin-bottom: $pxs2;
            }

            >li{
                margin-bottom: 8px;
            }

            >li:hover{
                color: color(gold);
                cursor: pointer;
            }
        }
        >ul:last-child{
            margin-right: 0;
        }
    }

    .social{
        >div:first-child{
            font-weight: 600;
            margin-bottom: $pxs2;
        }
        >div:nth-child(2){
            margin-bottom: $pxs2;
        }
        >div:last-child{
            display: flex;
            font-weight: 500;

            >div{
                margin-left: 20px;
            }
        }
    }
}

.Footer-white{
    background-color: color(w2);
    border-top: 1px solid rgba(0,0,0,0.1);

    .links{

        >ul{
            color: color(g1);

            >li:first-child{
                cursor: initial;
                font-weight: 500;
                margin-bottom: $pxs2;
                color: color(b1);
            }
        }
    }

    .social{
        >div:first-child{
            cursor: initial;
            font-weight: 500;
            margin-bottom: $pxs2;
            color: color(b1);
        }
        color: color(g1);
    }
}