@import '../../../styles/variables';

.Footer{
    color: white;
    padding: var(--sp1);
    display: flex;
    justify-content: space-between;
    background-color: color(b1);
    font-family: Manrope;
    font-weight: 300;
    font-size: 14px;

    @include mobile{
        flex-direction: column;
        padding-left: 40px;
        padding-right: 40px;
        height: 100vh;
    }

    .logo{
        display: none;
        filter: brightness(0) invert(.8);

        @include mobile{
            display: block;
            
            img{
                display: none;
            }
        }
    }

    .links{
        display: flex;

        @include mobile{
            display: grid;
            grid-template-columns: 50% 50%;
        }

        >ul{
            margin: 0;
            margin-right: 100px;

            @include mobile{
                margin-bottom: $pxs1;
            }

            >li:first-child{
                font-weight: 600;
                margin-bottom: $pxs2;

                @include mobile{
                    margin-bottom: 5px;
                }
            }

            >li:first-child:hover{
                color: white;
            }

            li{
                margin-bottom: 8px;
            }

            li:hover{
                color: color(gold);
                cursor: pointer;
            }
        }
        >ul:nth-child(2){
            @include mobile{
                order: 3;
            }
        }
        >ul:last-child{
            margin-right: 0;
        }
    }

    .social{
        >div:first-child{
            font-weight: 600;
            margin-bottom: $pxs2;

            @include mobile{
                margin-bottom: $pxs1;
            }
        }
        >div:nth-child(2){
            margin-bottom: $pxs2;
        }
        >div:last-child{
            display: flex;
            font-weight: 500;

            >div{
                margin-left: 20px;
            }
        }

        .seguinos a{
            display: flex;

            .ig{
                margin-left: 8px;
                opacity: .8;
            }
        }
    }
}

.Footer-white{
    background-color: color(w2);
    border-top: 1px solid rgba(0,0,0,0.1);

    .logo, .ig{
        filter: invert(.85);
        opacity: 1;
    }

    .links{

        >ul{
            color: color(g1);

            >li:first-child{
                cursor: initial;
                font-weight: 500;
                margin-bottom: $pxs2;
                color: color(b1);
            }
        }
    }

    .social{
        >div:first-child{
            cursor: initial;
            font-weight: 500;
            margin-bottom: $pxs2;
            color: color(b1);
        }
        color: color(g1);
    }
}