@import '../../../styles/variables';

.ProductCategory{
    padding: var(--sp1);
    padding-top: var(--pt1);

    .header{
        margin-left: 200px;
        max-width: 350px;
        margin-bottom: 80px;

        @include mobile{
            max-width: auto;
            margin-left: 0;
            padding: 0 $pxs3;
            margin-bottom: $pxs3;
        }

        h1{
            font-family: Silk Serif;
            font-weight: 300;

            @include mobile{
                font-size: $fs2;
            }
        }

        h2{
            font-family: Manrope;
            font-size: 14px;
            font-weight: 400;
            color: color(g1);
        }
    }

    main{
        
        .products{
            display: grid;
            grid-template-columns: 49.5% 49.5%;
            column-gap: 10px;
            row-gap: 10px;
            margin-bottom: 80px;

            @include mobile{
                margin-bottom: 0;
            }
        }
    }
}

.ProductItem{
    padding: 40px;
    min-height: 250px;
    color: white;
    display: flex;
    align-items: flex-end;
    position: relative;
    cursor: pointer;

    @include mobile{
        padding: 20px;
        min-height: 200px;
    }

    .ProductItem__image{
        position: absolute;
        width: 100%;
        height: 100%; 
        left: 0;
        top: 0;    
        overflow: hidden;
        background-color: color(w2);
        border: 1px solid rgba(0,0,0,0.1);
    }

    >div:last-child{
        z-index: 1;
        height: fit-content;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.7);

        h3{
            font-size: $fs2;
            font-weight: 400;
        }

        .price{

            @include mobile{
                font-size: 14px;
            }
        }

        .wDiscount{
            display: flex;

            @include mobile{
                font-size: 14px;
            }

            .price{
                margin-right: 10px;
                position: relative;
                display: flex;
                align-items: center;

                .lineThrough{
                    position: absolute;
                    width: 60px;
                    height: 1px;
                    background-color: white;
                }
            }

            .sellingPrice{
                font-weight: 600;
            }
        }
    }
}