@import '../../../styles/variables';

.Nav{
    // z-index: 5
}

.DesktopNav{
    color: white;
    position: fixed;
    width: 100%;
    z-index: 4;

    >div{
        transition: .2s;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--sp1);
        padding-bottom: 5px;
        padding-top: 5px;
        margin: 10px;
        border: 1px solid transparent;
    }

    >div>div{
        display: flex;
    }

    ul{
        display: flex;
        align-items: center;

        li{
            margin-right: $pxs3;
            font-family: Manrope;
            font-weight: 400;
        }

        li:last-child{
            margin-right: 0;
        }

        li:hover{
            color: color(gold);
            cursor: pointer;
        }
    }

    .DesktopNav__logo{
        display: flex;
        align-items: center;
        margin-right: $pxs4;
        cursor: pointer;

        img{
            filter: brightness(1) invert(1);
        }
    }
}

.Nav-scrolled .DesktopNav{
    >div{
        color: color(b1);
        background-color: rgba(255,255,255,0.95);
        border-color: rgba(0,0,0,0.1);
    }
    .DesktopNav__logo{
        img{
            filter: invert(.2);
        }
    }

    .DesktopNav__cart{
        filter: brightness(0.2);
    }
}

.MobileNav{
    position: fixed;
    width: 100%;
    color: white;
    
    >div{
        display: flex;
        justify-content: space-between;
        padding: var(--sp1);
        padding: 15px;
        position: relative;
        margin: 10px;
        border: 1px solid transparent;
        transition: .2s;
        
        .MobileNav__logo{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            filter: brightness(1) invert(1);
            
            img{
                height: 30px;
            }
        }

        .MobileNav__cart{
            >div{
                height: 25px;
                width: 25px;
                border-radius: 50%;
                background-color: color(gold);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                font-weight: 600;
                color: white;
            }
        }
    }
}

.Nav-scrolled .MobileNav{
    >div{
        color: color(b1);
        background-color: rgba(255,255,255,0.95);
        border-color: rgba(0,0,0,0.1);
    }

    .MobileNav__logo{
        img{
            filter: invert(.8);
        }
    }
}