@import '../../../styles/variables';

.ArrowCta{
    display: flex;
    font-family: Manrope;
    cursor: pointer;
    width: fit-content;

    >div:first-child{
        margin-right: 15px;
    }

    >div{
        transition: .2s ease-in-out;
    }
}

.ArrowCta:hover div:last-child{
    transform: translateX(10px);
}