@import '../../../styles/variables';


.FixedProductCta{
    position: fixed;
    bottom: 0;
    padding: 20px;
    background-color: rgba(255,255,255,0.95);
    display: none;
    width: 100%;
    z-index: 4;
    border: 1px solid rgba(0,0,0,0.1);

    @include mobile{
        display: flex;
    }

    >div{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .productInfo{
            display: flex;
            font-family: Silk Serif;
            text-transform: uppercase;
            align-items: center;
            font-size: 20px;
            justify-content: center;
            margin-bottom: 10px;
            
            h1{
                font-size: 18px;
                margin-right: $pxs1;
                font-weight: 400;
            }

            >div{
                font-size: 18px;
                font-family: Manrope;
                color: color(g1);
                font-weight: 500;
                margin-top: -4px;
            }
        }

        .ctas{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            >button{
                font-size: 10px;
            }
        }
    }
}