@import '../../../styles/variables';

.ArrowInput{
    position: relative;
    display: flex;
    width: fit-content;
    width: 185px;
    align-items: center;

    >div{
        transition: .2s ease-in-out;
        position: absolute;
        right: 0;
        padding: 0 10px 0 20px;
        cursor: pointer;
    }

    input{
        width: 100%;
        padding-right: 50px;
    }

    .loader{

        >svg{
            animation: spin .85s linear infinite;
        }      
    }
}

.ArrowInput:hover div{
    transform: translateX(10px);
}

.ArrowInput:hover .loader{
    transform: translateX(0px);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}