@import '../../../styles/variables';

.ArrowInput{
    position: relative;
    display: flex;
    width: fit-content;
    width: 185px;

    >div{
        transition: .2s ease-in-out;
        position: absolute;
        right: 0;
        padding: 0 10px 0 20px;
        cursor: pointer;
    }

    input{
        width: 100%;
        padding-right: 50px;
    }
}

.ArrowInput:hover div{
    transform: translateX(10px);
}