@import '../../../styles/variables';


.StoreInfo{
    width: 100%;
    display: flex;
    min-height: 600px;

    .info{
        background-color: color(w2);
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $pxs4;
        border: 1px solid rgba(0,0,0,0.1);

        >div{ 
            @include mobile{
                width: 100%;
            }
        }

        @include mobile{
            width: 70%;
            padding: 20px 40px;
        }
    }
    .image{
        width: 60%;
        background-image: url('/quemanta-madera-lenga.webp');
        background-size: cover;
        background-position: center;

        @include mobile{
            width: 30%;
        }
    }

    .item{
        display: flex;
        align-items: center;
        font-family: Manrope;
        margin-bottom: 40px;

        @include mobile{
            flex-direction: column;
            align-items: flex-start;
        }

        .icon{
            align-self: flex-start;
            margin-right: $pxs2;
        }

        >div:last-child{
            >div:first-child{
                text-transform: uppercase;
                font-weight: 400;
                font-size: 16px;
                color: color(b1);

                @include mobile{
                    font-size: 14px;
                }
            }
            >div:last-child{
                font-size: 14px;
                color: color(g1);

                @include mobile{
                    font-size: 14px;
                }
            }
        }
    }

    .item:last-child{
        margin-bottom: 0;
    }

}