@import '../../../styles/variables';

.HeroBanner{
    padding: var(--sp3);
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;

    @include mobile{
        justify-content: center;
    }

    .background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        >div{
            position: relative;
            width: 100%;
            height: 100%;

            .mask, .base{
                width: 100%;
                height: 100%;
            }

            .base{
                transform: scale(1.07);
                animation: pan-in-out 35s linear infinite;   
            }

            .mask{
                position: absolute;
                top: 0;
                z-index: 2;
                transition: .25s ease-out;
                transform: scale(1.1);
                animation: translate-left-right 35s linear infinite;

                @include mobile{
                    z-index: 1;
                }
            }
        }
    }

    .text{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        background-position: center;
        color: white;
        z-index: 1;
    
        @include mobile{
            justify-content: flex-end;
            padding: var(--sp2);
            height: 75vh;
            z-index: 2;
        }
    
        .title{
            font-size: 96px;
            margin-bottom: $pxs2;
            font-weight: 400;
            font-family: Silk Serif;
    
            @include mobile{
                font-size: $fs7;
            }
        }
        .subtitle{
            font-size: $fs2;
            text-transform: uppercase;
            color: color(gold);
            font-weight: 500;
            letter-spacing: 0.255em;
            text-transform: uppercase;
    
            @include mobile{
                font-size: $fs1;
            }
        }
    }
}


@keyframes pan-in-out {
    0% {
        transform: scale(1.07);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.07);
    }
}

@keyframes translate-left-right {
    0% {
        transform: scale(1.1) translateX(0);
    }
    25% {
        transform: scale(1.1) translateX(5px);
    }
    50% {
        transform: scale(1.1) translateX(0);
    }
    75% {
        transform: scale(1.1) translateX(-5px);
    }
    100% {
        transform: scale(1.1) translateX(0);
    }
}