@import '../../../styles/variables';

$scale1: 1.05;
$scale2: 1.1;

.HeroBanner{
    padding: var(--sp3);
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;

    @include mobile{
        justify-content: center;
    }

    .background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.2);
            z-index: 1;
        }

        >div{
            position: relative;
            width: 100%;
            height: 100%;

            .mask, .base{
                width: 100%;
                height: 100%;
            }

            .base{
                transform: scale($scale1);
                animation: pan-in-out 35s linear infinite;   
            }

        }
    }

    .text{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        background-position: center;
        color: white;
        z-index: 2;
        text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    
        @include mobile{
            justify-content: flex-end;
            padding: var(--sp2);
            height: 75vh;
            z-index: 2;
        }
    
        .title{
            font-size: 96px;
            margin-bottom: $pxs2;
            font-weight: 400;
            font-family: Silk Serif;
    
            @include mobile{
                font-size: $fs7;
            }
        }
        .subtitle{
            font-size: $fs2;
            text-transform: uppercase;
            color: color(gold);
            font-weight: 500;
            letter-spacing: 0.255em;
            text-transform: uppercase;
    
            @include mobile{
                font-size: $fs1;
            }
        }
    }
}


@keyframes pan-in-out {
    0% {
        transform: scale($scale1);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale($scale1);
    }
}
