@import '../../../styles/variables';

.HeroStripe{
    padding: var(--sp1);
    color: white;
    background-size: cover;
    background-position: center;
    padding-top: 120px;
    padding-bottom: 120px;

    @include mobile {
        padding: 120px 60px;
    }

    >div{
        h3{
            font-size: $fs3;
            margin-bottom: $pxs1;
            font-weight: 300;

            @include mobile{
                font-size: $fs2;
            }
        }
        p{
            max-width: 400px;
            color: white;
            margin-bottom: $pxs3;
        }
    }
}