@import '../../../styles/variables';

.Newsletter{

    [data-component="AssetAndText"]{
        >div:first-child{
            width: 700px;
            height: 500px;

            @include mobile{
                width: 100%;
            }
        }
    }
}

.NewsletterInput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    .message{
        min-height: $pxs2;

        >div{
            margin-top: 5px;
            font-size: 14px;
            color: color(gold);
        }
    }

}