@import '../../../styles/variables';

.Input{
    border: none;
    border-bottom: 1px solid color(g1);
    outline: none;
    font-size: 16px;
    font-family: Manrope;
    padding-bottom: 5px;
    color: color(g1);
    width: fit-content;
    padding: 5px;
}
.Input::placeholder{
    color: rgba(0,0,0,0.15);
}
.Input:focus{
    background-color: rgba(0,0,0,0.02);
    border-radius: 4px 4px 0 0;
}