@import './variables';

.Custom404{
    height: 100vh;

    >div{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        >div:first-child{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: $pxs4;

            h2{
                text-transform: uppercase;
                color: color(gold);
                font-weight: 500;
            }

            h1{
                font-size: 180px;
                font-family: Silk Serif;
                margin-bottom: 0;
            }

            >div{
                margin-top: -50px;
                font-size: $fs1;
            }
        }
    }
}