// pixel sizes
$pxs1: 16px;
$pxs2: 32px;
$pxs3: 64px;
$pxs4: 128px;

// font sizes
$fs1: 16px;
$fs2: 24px;
$fs3: 32px;
$fs4: 40px;
$fs5: 48px;
$fs6: 56px;
$fs7: 64px;
$fs8: 72px;

// colors
$colors : (
    gold: #BC8C3E,

    w1: #FBFBFB,
    w2: #FAFAFA,
    w3: #E5E5E5,
    
    g1: #757575,

    b1: #1B1B1B,

    chocolate: #433A31,
    suela: #94572B,
    boom: #7A2625,

    glass: #709DB6,
    aluminum: #B7B7B7,
);

@function color ($color-name) {
    @return map-get($colors, $color-name)
}

$mobile: 800px;
$smallDesktop: 1050px;
$desktop: 1300px;
$bigDesktop: 1600px;


@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin smallDesktop {
    @media (max-width: #{$smallDesktop}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin bigDesktop {
    @media (min-width: #{$bigDesktop}) {
        @content;
    }
}