@import './variables';

.Billetera{

    @include mobile{
        [data-component=AssetAndText]{
            flex-direction: column-reverse;
            >div:first-child{
                height: 400px;

                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .WalletSpecs{
        background-color: color(b1);
        padding: var(--sp1);

        >div{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            svg{
                text{
                    @include mobile{
                        transition: .2s;
                        transition-delay: .25s;
                        font-size: 50px;
                    }
                }
            }
        }
    }

    .WalletSpecs.WalletSpecs-rotated{
        @include mobile{
            display: flex;
            align-items: center;
            justify-content: center;
            
            svg{
                text{
                    transition-delay: 0;
                    fill: color(gold);
                }
            }
        }
    }
}

.CarrouselSection{
    background-color: color(w2);
    display: flex;
    padding: var(--sp1);

    @include mobile{
        flex-direction: column;
    }

    >div{
        width: 50%;

        @include mobile{ 
            width: 100%;
        }
    }
    >div:first-child{
        display: flex;
        align-items: center;

        @include mobile{
            padding: $pxs3;
        }

        >div{
            max-width: 400px;

            h3{
                font-size: $fs3;
                font-weight: 400;
                margin-bottom: $pxs1;

                @include mobile{
                    font-size: $fs2;
                }
            }
    
            .toggler{
                margin-top: $pxs3;

                .colors{
                    display: flex;
                    margin-bottom: $pxs2;

                    .color{
                        width: 31px;
                        height: 31px;
                        border-radius: 50%;
                        margin-right: 20px;
                        position: relative;
                        cursor: pointer;
                        background-color: blue;

                        >div{
                            @extend .color;
                            position: absolute;
                            background-color: transparent;
                            border: 1px solid transparent;
                            transition: .2s;
                        }

                        >div:hover{
                            transform: scale(1.2);
                        }
                    }

                    .color-selected{
                        >div{
                            transform: scale(1.2);
                        }
                    }
                }
                .activeColor{
                    font-size: 14px;
                    display: flex;

                    span{
                        color: color(g1);
                        margin-right: 10px;
                    }

                    >div{
                        position: relative;
                        >div{
                            position: absolute;
                            left: 0;
                        }
                    }
                }
            }
        }

    }
}