@import './variables';

.Carrito{
    min-height: 100vh;
    padding-top: var(--pt1);

    main{
        display: flex;
        justify-content: space-between;

        @include mobile{
            flex-direction: column;
        }

        .header{
            margin-bottom: $pxs3;

            @include mobile{
                padding: $pxs3 0;
                margin-bottom: 0;
            }
            
            h1{
                font-weight: 500;
                font-size: $fs3;
                font-family: Silk Serif;
                display: flex;
            }
            h2{
                color: color(g1);
                font-weight: 400;
                font-size: $fs1;
            }
        }

        .col1{
            width: 60%;

            @include mobile{
                width: 100%;
            }

            .products{
                margin-bottom: $pxs2;

                @include mobile{
                    margin-bottom: 0;
                }
            }

            .storeInfo{
                display: grid;
                grid-template-columns: 48% 48%;
                column-gap: 4%;
                margin-top: $pxs2;

                @include mobile{
                    display: none;
                    grid-template-columns: 100%;
                }

                .perk{
                    display: flex;
                    align-items: center;
                    padding: 25px;
                    padding-left: 0;
                    font-size: 14px;
                    color: color(g1);

                    @include mobile{
                        padding: $pxs1;
                    }

                    >div:first-child{
                        margin-right: $pxs1;

                        @include mobile{
                            transform: scale(.9);
                        }
                    }
                }
            }
        }

        .col2{
            width: 30%;
            height: 100%;

            @include mobile{
                width: 100%;
                padding: 20px;
            }

            .detalle{
                padding: $pxs3;
                background-color: color(w2);
                border: 1px solid rgba(0, 0, 0, 0.1);

                @include mobile{
                    padding: $pxs2;
                }

                h2{
                    font-weight: 400;
                    font-family: Silk Serif;
                    margin-bottom: $pxs3;

                    @include mobile{
                        margin-bottom: $pxs2;
                    }
                }

                .listado{
                    margin-top: $pxs2;

                    ul{
                        margin: 0;
                        color: color(g1);
                    }
                }

                .envio{
                    margin-top: 80px;
                    margin-bottom: $pxs1;

                    >div{
                        color: color(g1);
                    }
                }

                .total{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: 600;

                    >div{
                        color: color(gold);
                        font-size: 20px;
                    }
                }

                .detalleLabel{
                    font-family: Manrope;
                    font-size: $fs1;
                    color: black;
                    font-weight: 400;
                }

                .cta{
                    margin-top: $pxs1;
                    overflow: hidden;

                    button{
                        width: 100%;
                    }
                }
            }

            .ayuda{
                display: flex;
                color: color(g1);
                padding: 35px 45px;
                display: flex;
                justify-content: center;
                text-align: left;
                font-size: 14px;

                @include mobile{
                    padding-bottom: 0;
                }
                
                >div:first-child{
                    margin-right: $pxs1;
                }

                >div:last-child:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        .inputRow{
            display: flex;
            width: 100%;
            margin-bottom: $pxs2;
            max-width: 500px;

            >*{
                width: 50%;
            }

            >*:first-child{
                padding-right: $pxs2;

                @include mobile{
                    padding-right: $pxs1;
                }
            }
        }

        .inputRow:last-child{
            margin-bottom: 0;

            @include mobile{
                margin-bottom: $pxs2;
            }
        }

        .inputRow-full{
            >*:first-child{
                width: 100%;
                padding-right: 0;
            }
        }

    }

}

.ProductRow{

    >div{
        padding: 10px 20px 10px 10px;
        display: flex;
        justify-content: space-between;
    }

    .image{
        width: 80px;
        height: 80px;
        position: relative;
    }
    
    .desktop{

        @include mobile{
            display: none;
        }

        >div{
            display: flex;
            align-items: center;
            padding: 0 20px;
        }
        
        .name{
            width: 30%;
            
            h3{
                font-weight: 400;
                font-family: Manrope;
            }
        }
        .price, .qty, .subTotal, .delete{
            min-width: 10%;
        }

        .subTotal{
            min-width: 20%;
            text-align: right;
        }

        .qty{
            span{
                text-align: center;
                width: 20px;
            }
            >div{
                color: color(g1);
                height: 20px;
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 4px;
            }
            >div:hover{
                background-color: rgba(0,0,0,0.025);
            }
            >div:first-child{
                margin-right: 10px;
            }
            >div:last-child{
                margin-left: 10px;
            }
        }
    
        .delete{
            transition: .2s;
            opacity: 0;
            color: color(g1);
            font-size: 14px;
    
            span{
                cursor: pointer;
            }
        }
    }

    .mobile{
        display: none;
        justify-content: flex-start;
        padding-right: 40px;

        @include mobile{
            display: flex;
        }

        .image{
            min-width: 100px;
            min-height: 90px;
            margin-right: $pxs2;

            @include mobile{
                margin-right: $pxs1;
            }
        }

        .cols{
            display: flex;
            justify-content: space-between;
            width: 100%;

            >div:first-child{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;

                h3{
                    font-family: Manrope;
                    font-weight: 400;
                    margin-bottom: 8px;
                }
                
                .addSubstract{
                    display: flex;
                    padding-bottom: 4px;

                    >div{
                        height: 14px;
                        width: 14px;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: rgba(0,0,0,0.3);
                    }

                    >div:first-child{
                        margin-right: 14px;
                    }
                }
            }


            .price{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                >div:first-child{
                    color: color(g1);
                    margin-bottom: 8px;
                    font-size: 14px;
                }
                >div:last-child{
                    font-size: 18px;
                }
            }

            .qty{
                font-size: 14px;
                color: color(g1);
                text-transform: uppercase;
            }
        }

    }

}

.ProductRow:nth-child(odd){
    background-color: color(w2);
    border: 1px solid rgba(0,0,0,0.05);
}

.ProductRow:hover .delete{
    opacity: 1;
}

.CodigoDescuento{

    >div:first-child{
        font-size: 14px;
        margin-bottom: 8px;
        color: color(g1);
    }

}

.LabelAndInput{
    display: flex;
    flex-direction: column;

    label{
        font-size: 14px;
    }

    input{
        width: 100%;
    }
}

.StepOne, .StepThree{
    @include mobile{
        padding: 0 20px;
    }
}

.StepThree{
    .cta{
        margin-top: $pxs2;
        
        button{
            padding-right: $pxs3;
            padding-left: $pxs3;
        }
    }
}