@import './variables';

@font-face {
  font-family: 'Silk Serif';
  src: url('/fonts/SilkSerif/Silk Serif Light.otf') format('opentype');
}

:root {
  --sp1: 64px 5vw;
  --sp2: 64px 10vw;
  --sp3: 64px 15vw;

  --pt1: 150px;

  @include mobile{
    --sp1: 64px 10px;
    --pt1: 90px;
  }

  @include bigDesktop{
    --sp1: 64px 15vw;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Manrope;
  letter-spacing: 1px;
    
    a {
      color: inherit;
      text-decoration: none;
    }
}

* {
  box-sizing: border-box;
  line-height: 1.5;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1, h2, h3{
  margin: 0;
}

h3{
  font-family: Silk Serif;
}

p{
  margin: 0;
  font-family: Manrope;
  color: color(g1);
  font-weight: 300;
}

input{
  background-color: transparent;
}

.container{
  padding: var(--sp1);

  >section{
      margin-bottom: $pxs3;
  }
  >section:last-child{
      margin-bottom: 0;
  }
}

.no-select{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.desktop {
  @include mobile{
    display: none!important;
  }
}

.mobile{
  display: none;
  @include mobile{
    display: block;
  }
}

// Polyfills for third party dependencies
div.swiper{
  padding-bottom: $pxs3;
}
.swiper-pagination-bullet-active{
  background-color: color(gold)!important;
}

.CarrouselSection .swiper-slide{
  display: flex;
  justify-content: flex-end;
}

.CarrouselSection .swiper-wrapper::after{
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
  width: 100%;
}

.CarrouselSection .swiper-slide{
  opacity: .4;
  transition: .5s;
}

.CarrouselSection .swiper-slide.swiper-slide-active{
  opacity: 1;
}

.swiper-wrapper{
  transition-duration: .75s !important;
}