@import './variables';

.Reloj{
    min-height: 120vh;

    .Reloj__slightGray{
        background-color: color(w2);

        .Reloj__overlapSections{

            @include mobile{
                [data-component="AssetAndText"]{
                    flex-direction: row;
                    margin: $pxs3 0;

                    >div:first-child{
                        height: 500px;
                        >div{
                            width: 170px;
                            margin-right: 0;
                        }
                        img{
                            width: 350px;
                        }
                    }
                    >div:last-child{
                        padding: 20px;

                        h3{
                            font-size: 20px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                }
                [data-component="AssetAndText"]:nth-child(odd){
                    flex-direction: row-reverse;
                }
            }

            >section{
                margin: -70px 0;

                @include smallDesktop{
                    margin: 0;
                }
            }
            >section:first-child{
                margin-top: 0;
            }
            >section:last-child{
                margin-bottom: 0;
            }
        }
    }
    
    @include mobile {
        [data-component="AssetAndText"]:nth-of-type(1){
            flex-direction: column-reverse;
        }
    }
}

.TitleWDescription{
    width: 350px;

    h2{
        font-size: 28px;
        font-family: Silk Serif;
        margin-bottom: 12px;
        font-weight: 400;
    }
    >div{
        font-size: 14px;
        font-family: Manrope;
        color: color(g1);
    }
}

.SuiGeneris{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;

    @include mobile{
        h2{
            font-size: $fs2;
        }
    }

    >div{
        width: 50%;
    }
    
    >div:last-child{
        padding: 64px;

        @include mobile{
            padding: 0;
        }

        >div:first-child{
            margin-bottom: $pxs3;
            @include mobile{
                width: 100%;
            }
        }
    }

    .SuiGeneris__materiales{
        color: color(g1);
        font-size: 14px;

        >div:first-child{
            display: flex;
            margin-bottom: 20px;
        }

        .SuiGeneris__material{
            height: 25px;
            width: 25px;
            border-radius: 12.5px;
            margin-right: 20px;
            background-size: cover;
        }

        .SuiGeneris__material:last-child{
            margin-right: 0;
        }
    }
}

.DisAssembly{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;

    >div{
        position: absolute;
        top: -50px;
        transition: .2s;

        @include mobile{
            top: 0px;
            left: -110px;
        }
        
        img{
            max-width: 340px;

            @include mobile{
                max-width: 300px;
            }
        }
    }

    >div:nth-child(1){
        z-index: 3;
    }
    >div:nth-child(2){
        z-index: 2;
    }
    >div:nth-child(3){
        z-index: 1;
    }

    .DisAssembly__piece-notHovered{
        opacity: .5;
    }

    .DisAssembly__piece-cristal{
        >div{
            top: -60px;
        }
    }
}

.Tag{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    
    >div{
        position: absolute;
        bottom: 0;
        background-color: rgba(255,255,255,0.5);
        border: 1px solid rgba(0,0,0,0.1);
        color: white;
        padding: 8px 18px;
        border-radius: 6px;
        text-transform: uppercase;
        font-size: .8rem;
        color: rgba(0,0,0,0.5);
    }
}

$distance: 80px;
$delta: 10px;

.DisAssembly-float{
    >div:nth-child(1){
        animation: float-crystal 5s ease-in-out infinite;
    }
    >div:nth-child(3){
        animation: float-metal 5s ease-in-out infinite;
    }
}

@keyframes float-crystal {
	0% {
		transform: translateY(-$distance);
	}
	50% {
		transform: translateY(-$distance -$delta);
	}
	100% {
		transform: translateY(-$distance);
	}
}
@keyframes float-metal {
	0% {
		transform: translateY($distance);
	}
	50% {
		transform: translateY($distance + $delta);
	}
	100% {
		transform: translateY($distance);
	}
}

.WatchSpecs{
    background-color: color(b1);
    padding: var(--sp1);
    width: 100%;
    color: white;
    display: flex;

    @include mobile{
        flex-direction: column-reverse;
        padding: $pxs3 0;
    }

    >div{
        width: 50%;

        img{
            @include mobile{
                max-width: 100%;
            }
        }

        @include mobile{
            width: 100%;
        }
    }

    .WatchSpecs__specs{
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include mobile{
            padding: 0 $pxs3;
            margin-bottom: $pxs3;
        }
    
        h2{
            font-family: Silk Serif;
            font-weight: 400;
            margin-bottom: $pxs3;
        }
        >div{
            width: 100%;
            
            .WatchSpecs__specRow{
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 28px;

                .WatchSpecs__spec{
                    text-align: left;
                    width: 50%;

                    @include mobile{
                        width: 45%;
                    }

                    >div:first-child{
                        text-transform: uppercase;
                        color: color(gold);
                        font-size: 12px;
                    }
                    >div:last-child{
                        font-size: $fs1;
                    }
                }
            }
            .WatchSpecs__specRow:last-child{
                margin-bottom: 0;
            }
        }
    }
}

.WatchPartAsset{
    height: 100%;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: rgb(238,238,238);
    background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(212,212,212,1) 100%);

    >div{
        position: relative;
        padding-left: 20px;
        width: 100%;
        height: 390px;
        transition: .25s ease-out;
    }
}