@import '../../../styles/variables';

.ModalWaitingList{
    padding: $pxs2 $pxs3;
    width: 600px;
    max-width: 100%;
    
    @include mobile{
        padding: $pxs2 42px;
    }

    .header{
        margin-bottom: $pxs2;

        >div:first-child{
            font-family: Silk Serif;
            font-size: $fs3;
        }

        >div:last-child{
            color: color(g1);
        }
    }
}